/* @import './base.css'; */
@import "tailwindcss";

li {
    display: block;
    color:white;
    padding: 20px 0;
    background-color: black;
}

li:hover {
    cursor: pointer;
    background-color: rgb(18, 19, 21);
}